<!DOCTYPE html>
<html>
<head>
    <title>Citizen Login</title>
</head>
<body style="font-family:Arial; text-align:center; margin-top:80px;">

    <h1>Citizen Login</h1>

    <form method="POST">

        <input type="text" name="username" placeholder="Username" required><br><br>

        <input type="password" name="password" placeholder="Password" required><br><br>

        <button type="submit">Login</button>

    </form>

    <br>

    <a href="/register">Create New Account</a><br><br>

    <a href="/">Back to Home</a>

</body>
</html>